{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Zu Fang</title>
    <link rel="shortcut icon" href="{% static "img/icon.png" %}" type="image/ico">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/zufang.css"%}" rel="stylesheet">
</head>
<body>
    <div id="zufang" class="container">
        <div id="notice">
            <p>创建了一个租房QQ群：<strong>463646122</strong>，大家可以加进来一起<strong> 共享信息 </strong>或<strong> 拼合租 </strong>。。如果不能搜索或排序，<strong>清空浏览器缓存</strong>。。每<span class='refresh-time'>3</span>小时更新一次</p>
        </div>
        <div id="access-count">
            <p>loading</p>
        </div>
        <form id="search-topic" class="form-inline">
            <div class="form-group">
                <input id="search-input" class="form-control">
            </div>
            <button id="search-submit" class="btn btn-info">搜标题</button>
            <button id="content-search-submit" class="btn btn-info hide">搜正文</button>

            <button id="show-all" class="btn btn-success">Show All</button>

            <span class="glyphicon glyphicon-option-vertical"></span>

            <button class="btn btn-info direct-search">西直门</button>
            <button class="btn btn-info direct-search">知春</button>
            <button class="btn btn-info direct-search">上地</button>
            <button class="btn btn-info direct-search">西二旗</button>
            <button class="btn btn-info direct-search">龙泽</button>
            <button class="btn btn-info direct-search">回龙观</button>
            <button class="btn btn-info direct-search">惠新西街</button>
            <button class="btn btn-info direct-search">国贸</button>
            <button class="btn btn-info direct-search">CBD</button>
            <button class="btn btn-info direct-search">四惠</button>
            <button class="btn btn-info direct-search">传媒</button>
        </form>


        <table id="zufang-table" class="table">
            <thead>
                <tr>
                    <th width="40%">话题</th>
                    <th width="15%">作者</th>
                    <th width="18%"> 创建时间<a id="create-time-down" href="#"><span class="glyphicon glyphicon-circle-arrow-down"></span></a></th>
                    <th width="9%">回应<a id="reply-count-down" href="#"><span class="glyphicon glyphicon-circle-arrow-down"></span></a></th>
                    <th width="18%">最后回应<a id="reply-time-down" href="#"><span class="glyphicon glyphicon-circle-arrow-down"></span></a></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script type="text/template" id="zufang-item-tmpl">
        <td>
            <a href="http://www.douban.com/group/topic/<%= id %>/" target=_blank><%= title %></a>
        </td>
        <td><a href="http://www.douban.com/group/people/<%= people_id %>/" target=_blank><%- people_name %></a></td>
        <td><%- create_time %></td>
        <td><%- reply_count %></td>
        <td><%- reply_time %></td>
    </script>
    <script type="text/template" id="access-count-tmpl">
        <p>Your IP is  <%= ip %>, Total <%= total_visitors %> people <%= total_times %> visits, you visit <%= my_times %> times.</p>
    </script>
    <script data-main="{% static "js/main" %}" src="{% static "js/lib/require.js" %}"></script>
</body>
</html>
