{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Zu Fang</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css"%}" rel="stylesheet">
</head>
<body>
    <div id="zufang" class="container">

        <div id="access-count">
            <p>loading</p>
            <p>loading</p>
        </div>

        <form class="form-inline">
            <div class="form-group">
                <input id="search-input" class="form-control">
            </div>
            <button id="search-submit" type="submit" class="btn btn-default">Search</button>
            <button id="show-all" type="submit" class="btn btn-default">Show All</button>
        </form>

        <button type="submit" class="btn btn-default direct-search">知春</button>
        <button type="submit" class="btn btn-default direct-search">土城</button>
        <button type="submit" class="btn btn-default direct-search">牡丹园</button>
        <button type="submit" class="btn btn-default direct-search">上地</button>
        <button type="submit" class="btn btn-default direct-search">龙泽</button>
        <button type="submit" class="btn btn-default direct-search">西二旗</button>
        <button type="submit" class="btn btn-default direct-search">回龙观</button>
        <button type="submit" class="btn btn-default direct-search">国贸</button>
        <button type="submit" class="btn btn-default direct-search">四惠</button>
        <button type="submit" class="btn btn-default direct-search">传媒</button>

        <table id="zufang-table" class="table">
            <thead>
                <tr>
                    <th width="65%">Title</th>
                    <th width="15%">Author</th>
                    <th width="20%">Last Reply Time</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script type="text/template" id="zufang-item-tmpl">
        <td><a href="http://www.douban.com/group/topic/<%= topic_id %>/" target=_blank><%- topic_title %></a></td>
        <td><a href="http://www.douban.com/group/people/<%= user_id %>/" target=_blank><%- user_name %></a></td>
        <td><%- reply_time %></td>
    </script>
    <script type="text/template" id="access-count-tmpl">
        <p>Your IP is  <%= ip %></p>
        <p>Total <%= total_visitors %> people <%= total_times %> visits, you visit <%= my_times %> times</p>
    </script>
    <script data-main="{% static "js/main" %}" src="{% static "js/lib/require.js" %}"></script>
</body>
</html>
