{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Zu Fang</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/zufang.css"%}" rel="stylesheet">
</head>
<body>
    <div id="zufang" class="container">
        <div id="notice">
            <p>创建了一个租房QQ群：463646122，大家可以加进来一起共享信息</p>
            <p>如果不能搜索，清空浏览器缓存</p>
            <p>以后会加上“取消赞”的功能</p>
        </div>

        <hr>

        <div id="access-count">
            <p>loading</p>
        </div>

        <form id="search-topic" class="form-inline">
            <div class="form-group">
                <input id="search-input" class="form-control">
            </div>
            <button id="search-submit" class="btn btn-info">Search</button>
            <button id="show-all" class="btn btn-success">Show All</button>

            <span class="glyphicon glyphicon-option-vertical"></span>

            <button class="btn btn-info direct-search">知春</button>
            <button class="btn btn-info direct-search">土城</button>
            <button class="btn btn-info direct-search">牡丹园</button>
            <button class="btn btn-info direct-search">上地</button>
            <button class="btn btn-info direct-search">龙泽</button>
            <button class="btn btn-info direct-search">西二旗</button>
            <button class="btn btn-info direct-search">回龙观</button>
        </form>
        <table id="zufang-table" class="table">
            <thead>
                <tr>
                    <th width="65%">Title</th>
                    <th width="15%">Author</th>
                    <th width="15%">Last Reply Time</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script type="text/template" id="zufang-item-tmpl">
        <td><a href="http://www.douban.com/group/topic/<%= id %>/" target=_blank><%- topic_title %></a></td>
        <td><a href="http://www.douban.com/group/people/<%= user_id %>/" target=_blank><%- user_name %></a></td>
        <td><%- reply_time %></td>
        <td>
            <span class="like">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span><%- likes %></span>
            </span>
        </td>
    </script>
    <script type="text/template" id="access-count-tmpl">
        <p>Your IP is  <%= ip %>, Total <%= total_visitors %> people <%= total_times %> visits, you visit <%= my_times %> times</p>
    </script>
    <script data-main="{% static "js/main" %}" src="{% static "js/lib/require.js" %}"></script>
</body>
</html>
