{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Zu Fang</title>
    <link rel="shortcut icon" href="{% static "img/icon.png" %}" type="image/ico">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/zufang.css"%}" rel="stylesheet">
</head>
<body>
    <div id="zufang" class="container">
        <div id="notice">
            <p><strong>我不创造雨，我只是豆瓣的搬运工：这些是在豆瓣上搜集到的，小伙伴们租房时的经验教训，大家找房前多看看，少走弯路。</strong></p>
            <p><strong>如果其中任何内容侵犯了****权益，请联系豆瓣，让其删帖即可。</strong></p>
            <p>使用我的 Uber 优惠码 <span class='red-span'>h03i8</span>，即可在您的首次 Uber 乘车服务中节省 <span class='red-span'>￥30</span>。可在<a href="https://get.uber.com.cn/invite/h03i8" target="_blank">https://get.uber.com.cn/invite/h03i8</a>兑换。</p>
            <p>创建了一个租房QQ群：<strong>463646122</strong>，大家可以加进来一起<strong> 共享信息 </strong>或<strong> 拼合租 </strong>，也可以在群里分享经验教训。</p>
        </div>
        <table id="zufang-table" class="table">
            <thead>
                <tr>
                    <th width="40%">话题</th>
                    <th width="15%">作者</th>
                    <th width="18%">创建时间</th>
                    <th width="9%">回应</th>
                    <th width="18%">最后回应</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="http://www.douban.com/group/topic/46057875/" target="_blank">【中介查询及举报工具】龙猫中介搜索</a>
                    </td>
                    <td><a href="http://www.douban.com/group/people/80121412/" target="_blank">龙猫中介搜索</a></td>
                    <td>2013-11-18 02:02:55</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.douban.com/group/topic/32210731/" target="_blank">北京各个地区黑中介名单【大家继续添加】</a>
                    </td>
                    <td><a href="http://www.douban.com/group/people/cheqiqi/" target="_blank">宝贝</a></td>
                    <td>2012-08-24 13:36:57</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.douban.com/group/topic/76416908/" target="_blank">请务必当心黑中介（尤其是五道口、奥运村这一带）</a>
                    </td>
                    <td><a href="http://www.douban.com/group/people/ichrislee/" target="_blank">AMY</a></td>
                    <td>2015-06-15 11:57:12</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.douban.com/group/topic/46738807/" target="_blank">二房东 骗我房租8000元！希望更多人看到，不要被骗！</a>
                    </td>
                    <td><a href="http://www.douban.com/group/people/80449454/" target="_blank">好人有好报</a></td>
                    <td>2013-12-06 17:53:29</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
